// Colors
$grey: #333333;
$blue: #2199e8;

//Navigation colors
$nav-background: $grey;
$nav-text-color: white;
$nav-name: $blue;

// Clock variables

$clock-text-color: white;
$clock-bg-color: #b5d0E2;
$clock-border-color: #2099E8;